.banner {
    display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	padding: 32px;
	border-bottom: solid 1px grey;
    
    .logo {
        height: 45px;
        width: 45px;
        padding-right: 32px;
    }
}