.main {
    display: flex;
}

.cart {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 200px;
	color: white;
	padding: 32px;
	background-color: #31b572;
	border-radius: 0 0 20px 0;
}

.emptyCart {
	border-radius: 10px;
	border: 1px solid grey;
	transition: all 600ms;
	&:hover {
		cursor: pointer;
		letter-spacing: 0.8px;
	}
}