.plantList {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}

.plantItem {
    position: relative;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
    font-weight: bold;
	border: 1px dotted grey;
	border-radius: 20px 0 20px 0;
	transition: box-shadow 600ms ease-out;
	.plantItemCover {
		height: 220px;
		width: 220px;
		border-radius: 20px 0 0 0;
	}
	.plantName {
		transition: all 600ms 100ms ease-out;
	}
	.sales {
		position: absolute;
		right: 0px;
		top: 10px;
		font-weight: 500;
		color: white;
		padding: 5px 10px;
		background-color: #31b572;
		transition: all 800ms 300ms ease-in-out;
	}
	&:hover {
		box-shadow: 1px 1px 6px darkgray, -1px -1px 6px darkgray;
		cursor: pointer;
		.plantName {
			color: green;
			transform: translateX(10px);
		}
		.sales {
			transform: translateX(10px);
		}
	}
}