@media all and (max-width: 940px) {
    .main {
        flex-direction: column;
        justify-content: space-between;
    }
    .cart, .cart-icon {
        padding: 10px;
        z-index: 0;
    }
    
    .radio {
        position: absolute;
        left: 240px;
        align-items: flex-start;
        top: 170px;
        width: 190px;
        flex-direction: column;
        margin: -10px 0 0 0;
        li {
            margin: 0 0 8px 0;
        }
        #cancel {
            width: 85%;
            margin-left: 3px;
        }
    }

    .plantList {
        margin-top: 50px;
        margin-right: 10%;
        margin-left: -50px;
        li {
            margin-left: 0px;
        }
    }

}

@media all and (max-width: 480px) {
    .banner {
        .logo {
            margin-left: 10%;
        }
        h1 {
        margin: auto;
        }
    }
    .cart {
        top: 0;
        height: 110vh;
        width: 95vw;
        z-index: 4;
        padding-right: 15px;
        border-radius: 0;
        button {
            width: 50%;
            padding: 0;
            margin: 0 auto;
        }
    }
    .cart-icon {
        width: 10%;
        height: 25px;
        z-index: 3;
        i {
            font-size: 20px;
            padding: 0;
        }
        .notif {
            position: absolute;
            top: 15px;
            left: 25px;
        }
    }
    .plantList { 
        margin: 120px auto;
        padding-left: 0;
        li {
            margin: 25px 0 0 0;
            button:visited {
                background-color: white;
                color: #31b572;
            }
        }
    }
    .radio {
        left: 28%;
        top: 220px;
    }
}